block vars
doctype html
html
  head
    title= pageTitle
    meta(name='viewport' content='width=device-width,initial-scale=1')
    link(rel="stylesheet" type="text/css" href="js/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css")
    link(rel="stylesheet" type="text/css" href="css/style.css")
  body
    block header
    block content
    block footer
    script(src="js/jquery-3.3.1.js")
    script(src="js/OwlCarousel2-2.3.4/dist/owl.carousel.min.js")
    script(src="js/bundle.js")